doctype html
html
  block head
    head

      block title
        title Test Page

      block meta
        block metaContentType
          meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
        block metaViewport
          meta(name="viewport",content="width=device-width, initial-scale=1.0")

      block css
        block cssMocha
          link(rel='stylesheet', href=config.paths.mocha + '/mocha.css')

      block headJs
        block headJsChai
          script(src=config.paths.chai + '/chai.js')
          script.
            var assert = chai.assert;

        block headJsMocha
          script(src=config.paths.mocha + '/mocha.js')
          script.
            mocha.setup('!{config.mocha.u}')

  block body
    body
      block mochaDiv
        div#mocha

      block bodyJs
        block bodyJsTests
          - for testPath in config.paths.tests
            script(src=testPath)
        block bodyJsRun
          script.
            mocha.run()



